@using Web_DuLichVietNam.EF;
@model PagedList.IPagedList<DATTOUR>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Quản Lý Đặt Tour";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Quản Lý Đặt Tour</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Trang Chủ Admin</a></li>
            <li class="breadcrumb-item active">Quản Lý Đặt Tour</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Danh Sách Đặt Tour
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <button onclick="location.href='@Url.Action("Create","DatTour")'" class="btn btn-info mb-3">Thêm Đặt Tour</button>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Mã Tour</th>
                                <th scope="col">Mã KH</th>
                                <th scope="col">Người Lớn</th>
                                <th scope="col">Trẻ Em</th>
                                <th scope="col">Ngày Đặt</th>
                                <th scope="col">Mã LP</th>
                                <th scope="col">Phòng Đơn</th>
                                <th scope="col">Phòng Đôi</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.MaTour</td>
                                    <td>@item.MaKH</td>
                                    <td>@item.SoLuongNL</td>
                                    <td>@item.SoLuongTE</td>
                                    <td>@item.NgayDat.Value.ToString("dd/MM/yyy")</td>
                                    <td>@item.MaLP</td>
                                    <td>@item.SoPhongDon</td>
                                    <td>@item.SoPhongDoi</td>
                                    <td class="text-center">
                                        <a class="btn btn-danger" href="/Admin/DatTour/Delete/?matour=@item.MaTour&makh=@item.MaKH">Xóa</a>
                                        <a class="btn btn-info" href="/Admin/DatTour/Edit/?matour=@item.MaTour&makh=@item.MaKH">Cập Nhật</a>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model,page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>
    </div>
</main>

