
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using Web_DuLichVietNam.EF
@{
    var tinhthanhlist = ViewBag.TinhThanhList as IEnumerable<TINHTHANH>;
    var phuongtienlist = ViewBag.PhuongTienList as IEnumerable<PHUONGTIEN>;
}
@model Web_DuLichVietNam.Models.TourModel
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Quản Lý Tour</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Trang Chủ Admin</a></li>
            <li class="breadcrumb-item active">Quản Lý Tour</li>
        </ol>
        <div class="card mb-4">
            <div class="table-responsive p-3">
                <form method="post" class="booking-form">
                    <div class="row book-form">
                        <div class="form-input col-md-12 mt-3">
                            <label>Tên tour</label>
                            <input type="text" name="TenTour">
                            @Html.ValidationMessageFor(model => model.TenTour, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-input col-md-2 mt-3">
                            <label>Giá tour</label>
                            <input type="number" name="GiaTour">
                            @Html.ValidationMessageFor(model => model.GiaTour, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-input col-md-2  mt-3">
                            <label>Số lượng</label>
                            <input type="number" name="SoLuong">
                            @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-input col-md-4  mt-3">
                            <label>Ngày khởi hành</label>
                            <input type="date" name="NgayKhoiHanh">
                            @Html.ValidationMessageFor(model => model.NgayKhoiHanh, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-input col-md-2  mt-3">
                            <label>Số Ngày</label>
                            <input type="number" name="ThoiGianNgay">
                            @Html.ValidationMessageFor(model => model.ThoiGianNgay, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-input col-md-2  mt-3">
                            <label>Số Đêm</label>
                            <input type="number" name="ThoiGianDem">
                            @Html.ValidationMessageFor(model => model.ThoiGianDem, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-input col-md-3  mt-3">
                            <label>Hình ảnh 1</label>
                            <input type="file" name="HinhAnh1">
                        </div>
                        <div class="form-input col-md-3  mt-3">
                            <label>Hình ảnh 2</label>
                            <input type="file" name="HinhAnh2">
                        </div>
                        <div class="form-input col-md-3  mt-3">
                            <label>Hình ảnh 3</label>
                            <input type="file" name="HinhAnh3">
                        </div>
                        <div class="form-input col-md-3  mt-3">
                            <label>Hình ảnh 4</label>
                            <input type="file" name="HinhAnh4">
                        </div>
                        <div class="form-input col-md-12  mt-3">
                            <label>Dịch vụ</label>
                            <textarea rows="4" name="DichVu" id="txtDichVu"></textarea>
                            @Html.ValidationMessageFor(model => model.DichVu, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-input col-md-12  mt-3">
                            <label>Hành trình</label>
                            <textarea rows="4" name="HanhTrinh" id="txtHanhTrinh"></textarea>
                            @Html.ValidationMessageFor(model => model.HanhTrinh, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-input col-md-12  mt-3">
                            <label>Nơi xuất phát</label>
                            <input type="text" name="NoiXuatPhat">
                            @Html.ValidationMessageFor(model => model.NoiXuatPhat, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-input col-md-2  mt-3">
                            <label>Tỉ Lệ</label>
                            <input type="number" name="TiLe">
                            @Html.ValidationMessageFor(model => model.TiLe, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-input col-md-2  mt-3">
                            <label>Mã Hướng Dẫn Viên</label>
                            <input type="number" name="MaHDV">
                            @Html.ValidationMessageFor(model => model.MaHDV, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-input col-md-3  mt-3">
                            <br /><br />
                            <a href="/Admin/HuongDanVien/Index">Thông tin Hướng Dẫn Viên</a>
                        </div>
                        <div class="form-input col-md-2  mt-3">
                            <label>Tỉnh thành</label>
                            <select name="MaTT" class="selectpicker select_style">
                                @foreach (var item in tinhthanhlist)
                                {
                                    <option value="@item.MaTT">@item.TenTT</option>
                                }
                            </select>
                        </div>
                        <div class="form-input col-md-3  mt-3">
                            <label>Phương tiện</label>
                            <select name="MaPT" class="selectpicker">
                                @foreach (var item in phuongtienlist)
                                {
                                    <option value="@item.MaPT">@item.TenPT</option>
                                }
                            </select>
                        </div>
                        <div class="bottom-btn col-md-2 mt-3">
                            <button class="btn btn-style btn-primary w-100" type="submit">Thêm</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
