@using Web_DuLichVietNam.EF
@using Web_DuLichVietNam.Models
@model Web_DuLichVietNam.Models.TourModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Quản Lý Tour</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Trang Chủ Admin</a></li>
            <li class="breadcrumb-item active">Quản Lý Tour</li>
        </ol>
        <div class="card mb-4">
            <div class="table-responsive p-3">
                <form method="post" class="booking-form">
                    <div class="row book-form">
                        <div class="form-input col-md-2 mt-3">
                            <label>Mã Tour</label>
                            <input type="number" name="MaTour" value="@Model.MaTour" readonly>
                        </div>
                        <div class="form-input col-md-10 mt-3">
                            <label>Tên tour</label>
                            <input type="text" name="TenTour" value="@Model.TenTour">
                            @Html.ValidationMessageFor(model => model.TenTour, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-input col-md-2 mt-3">
                            <label>Giá tour</label>
                            <input type="number" name="GiaTour" value="@Model.GiaTour">
                            @Html.ValidationMessageFor(model => model.GiaTour, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-input col-md-2  mt-3">
                            <label>Số lượng</label>
                            <input type="number" name="SoLuong" value="@Model.SoLuong">
                            @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-input col-md-4  mt-3">
                            <label>Ngày khởi hành</label>
                            <input type="text" name="NgayKhoiHanh" value="@Model.NgayKhoiHanh.ToString("dd/MM/yyyy")" />
                            @Html.ValidationMessageFor(model => model.NgayKhoiHanh, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-input col-md-2  mt-3">
                            <label>Số Ngày</label>
                            <input type="number" name="ThoiGianNgay" value="@Model.ThoiGianNgay">
                            @Html.ValidationMessageFor(model => model.ThoiGianNgay, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-input col-md-2  mt-3">
                            <label>Số Đêm</label>
                            <input type="number" name="ThoiGianDem" value="@Model.ThoiGianDem">
                            @Html.ValidationMessageFor(model => model.ThoiGianDem, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-input col-md-3  mt-3">
                            <label>Hình ảnh 1</label>
                            <input type="file" name="HinhAnh1" value="@Model.HinhAnh1">
                        </div>
                        <div class="form-input col-md-3  mt-3">
                            <label>Hình ảnh 2</label>
                            <input type="file" name="HinhAnh2" value="@Model.HinhAnh2">
                        </div>
                        <div class="form-input col-md-3  mt-3">
                            <label>Hình ảnh 3</label>
                            <input type="file" name="HinhAnh3" value="@Model.HinhAnh3">
                        </div>
                        <div class="form-input col-md-3  mt-3">
                            <label>Hình ảnh 4</label>
                            <input type="file" name="HinhAnh4" value="@Model.HinhAnh4">
                        </div>
                        <div class="form-input col-md-12  mt-3">
                            <label>Dịch vụ</label>
                            <textarea row="4" name="DichVu" id="txtDichVu" value="@Model.DichVu">@Html.Raw(Model.DichVu)</textarea>
                        </div>
                        <div class="form-input col-md-12  mt-3">
                            <label>Hành trình</label>
                            <textarea rows="4" name="HanhTrinh" id="txtHanhTrinh" value="@Model.HanhTrinh">@Html.Raw(Model.HanhTrinh)</textarea>
                        </div>
                        <div class="form-input col-md-3  mt-3">
                            <label>Nơi xuất phát</label>
                            <input type="text" name="NoiXuatPhat" value="@Model.NoiXuatPhat">
                        </div>
                        <div class="form-input col-md-2  mt-3">
                            <label>Tỉ Lệ</label>
                            <input type="number" name="TiLe" value="@Model.TiLe">
                            @Html.ValidationMessageFor(model => model.TiLe, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-input col-md-2  mt-3">
                            <label>Mã Hướng Dẫn Viên</label>
                            <input type="number" name="MaHDV" value="@Model.MaHDV">
                        </div>
                        <div class="form-input col-md-2  mt-3">
                            <label>Tỉnh thành</label>
                            <select name="MaTT" class="selectpicker">
                                @foreach (var item in (List<TINHTHANH>)ViewBag.TinhThanhList)
                                {
                                    if (item.MaTT == Model.MaTT)
                                    {
                                        <option value="@item.MaTT" selected="selected">@item.TenTT</option>
                                    }
                                    else
                                    {
                                        <option value="@item.MaTT">@item.TenTT</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-input col-md-3  mt-3">
                            <label>Phương tiện</label>
                            <select name="MaPT" class="selectpicker">
                                @foreach (var item in (List<PHUONGTIEN>)ViewBag.PhuongTienList)
                                {
                                    if (item.MaPT == Model.MaPT)
                                    {
                                        <option value="@item.MaPT" selected="selected">@item.TenPT</option>
                                    }
                                    else
                                    {
                                        <option value="@item.MaPT">@item.TenPT</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="bottom-btn col-md-2 mt-3">
                            <button class="btn btn-style btn-primary w-100" type="submit">Sửa Thông Tin</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>


