@using Web_DuLichVietNam.EF
@{
    ViewBag.Title = "BookTour";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var tour = (TOUR)ViewBag.Tour;
    var khachhang = (KHACHHANG)ViewBag.KhachHang;
}
@using Web_DuLichVietNam.Models
@model Web_DuLichVietNam.Models.BookTourModel

<section class="w3l-destinations-1">
    <div class="destionation-innf py-5">
        <div class="container py-lg-5">
            <div class="title-content mb-5">
                <span class="sub-title">Đặt Tour Ngay</span>
                <h3 class="hny-title mb-0">Điểm đến của riêng bạn</h3>
                <p>Thỏa mãn đam mê du lịch khám phá qua từng điểm đến</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">
                    <img style="width:100%; height:260px" src="~/Database/Images/@tour.HinhAnh1" width="773" height="430" class="d-block w-100" alt="...">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="border pt-2 px-2">
                        <div class="border-bottom pb-3" style="color:black">
                            <span style="font-weight:bold; font-size:20px">@tour.TenTour</span>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="font-size:14px">
                                <p>Mã tour</p>
                                <p>Thời gian</p>
                                <p>Giá</p>
                                <p>Ngày khởi hành</p>
                                <p>Nơi xuất phát</p>
                                <p>Số chỗ còn nhận</p>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <p>@tour.MaTour</p>
                                <p>@tour.ThoiGianNgay ngày @tour.ThoiGianDem đêm</p>
                                <p>@tour.GiaTour.ToString("N0") VND</p>
                                <p>@tour.NgayKhoiHanh.Value.ToString("dd/MM/yyyy")</p>
                                <p>@tour.NoiXuatPhat</p>
                                <p>@tour.SoLuong</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-4" style="color:red;">
                    Các khoản phí phát sinh (nếu có) như: phụ thu dành cho khách nước ngoài, việt kiều; phụ thu phòng đơn; phụ thu chênh lệch giá tour… Nhân viên Du Lịch Việt sẽ gọi điện thoại tư vấn cho quý khách ngay sau khi có phiếu xác nhận booking. (Trong giờ hành chính)
                    Trường hợp quý khách không đồng ý các khoản phát sinh, phiếu xác nhận booking của quý khách sẽ không có hiệu lực.
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-3 border-top">
                    <h3 class="m-4" style="text-transform:uppercase; text-align:center">Bảng Giá Chi Tiết Tour</h3>
                    <div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Giá Người Lớn</th>
                                    <th scope="col">Giá Trẻ Em(< 12 tuổi)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@tour.GiaTour</td>
                                    <td>@tour.TiLe % so với Người Lớn</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-3 border-top">
                    <h3 class="m-4" style="text-transform:uppercase; text-align:center">Bảng Giá Chi Tiết Loại Phòng</h3>
                    <div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Loại Phòng</th>
                                    <th scope="col">Giá Phòng Đơn</th>
                                    <th scope="col">Giá Phòng Đôi</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (LOAIPHONG lp in (List<LOAIPHONG>)ViewBag.LoaiPhong)
                                {
                                    <tr>
                                        <td>@lp.TenLoai</td>
                                        <td>@lp.GiaPhongDon</td>
                                        <td>@lp.GiaPhongDoi</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-3">
                    <h3 class="m-4" style="text-transform:uppercase; text-align:center">Thông Tin Liên Hệ</h3>
                    @using (Html.BeginForm("BookTour", "DiemDen", FormMethod.Post, new { @class = "booking-form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row book-form">
                            <div class="form-input col-md-3 mt-3">
                                <label>Mã Tour</label>
                                <input type="text" name="MaTour" value="@tour.MaTour" readonly>
                            </div>
                            <div class="form-input col-md-3 mt-3">
                                <label>Họ Tên</label>
                                <input type="text" name="TenKH" value="@khachhang.TenKH" readonly>
                            </div>
                            <div class="form-input col-md-3 mt-3">
                                <label>Email</label>
                                <input type="email" name="Email" value="@khachhang.Email" readonly>
                            </div>
                            <div class="form-input col-md-3 mt-3">
                                <label>Số Điện Thoại</label>
                                <input type="text" name="SDT" value="@khachhang.SDT" readonly>
                            </div>
                            <div class="form-input col-md-4 mt-3">
                                <div class="row">
                                    <div class="form-input col-md-4 form-inline">
                                        <label>Số Lượng</label>
                                    </div>
                                    <div class="form-input col-md-4 form-inline">
                                        <label>Trẻ Em</label>
                                        <input type="number" name="SoLuongTE">
                                        @Html.ValidationMessageFor(model => model.SoLuongTE, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-input col-md-4 form-inline">
                                        <label>Người Lớn</label>
                                        <input type="number" name="SoLuongNL" id="w3lName">
                                        @Html.ValidationMessageFor(model => model.SoLuongNL, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-input col-md-3  mt-3">
                                <label>Loại Phòng</label>
                                <select name="MaLP" class="selectpicker">
                                    <option value="0">---  Loại Phòng  ---</option>
                                    @foreach (var item in (List<LOAIPHONG>)ViewBag.LoaiPhong)
                                    {
                                        <option value="@item.MaLP">@item.TenLoai</option>
                                    }

                                </select>
                                @Html.ValidationMessageFor(model => model.MaLP, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-input col-md-5 mt-3">
                                <div class="row">
                                    <div class="form-input col-md-4 form-inline">
                                        <label>Số Phòng</label>
                                    </div>
                                    <div class="form-input col-md-4 form-inline">
                                        <label>Đơn</label>
                                        <input type="number" name="SoPhongDon" id="w3lName">
                                        @Html.ValidationMessageFor(model => model.SoPhongDon, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-input col-md-4 form-inline">
                                        <label>Đôi</label>
                                        <input type="number" name="SoPhongDoi" id="w3lName">
                                        @Html.ValidationMessageFor(model => model.SoPhongDoi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-input col-md-12 mt-3">
                                <label>Yêu Cầu Khác</label>
                                <textarea rows="4" type="text" name="YeuCau" placeholder="Yêu Cầu Khác"></textarea>
                            </div>
                            <div class="form-input col-md-4 mt-3"></div>
                            <div class="bottom-btn col-md-4 mt-5">
                                <button class="btn btn-style btn-primary w-100" type="submit">Gửi Thông Tin</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    var listItems = document.getElementsByClassName("nav-item");
    for (let i = 0; i < listItems.length; i++) {
        listItems[i].classList.remove("active");
    }
    document.getElementById("services").classList.add('active');
</script>

